<script>
export default {
  props: {
    value: {
      type: Number,
      required: true,
      default: null,
    },
    id: {
      type: String,
      required: true,
      default: null,
    },
    min: {
      type: String,
      required: false,
      default: '0',
    },
    dollarSign: {
      type: Boolean,
      required: false,
      default: false,
    },
  },
};
</script>
<template>
  <div class="input-wrapper">
    <span v-if="dollarSign">$</span>
    <input
      :id="id"
      :value="value"
      type="number"
      :min="min"
      :class="!dollarSign && 'full-width'"
      @input="$emit('input', $event.target.value)"
    />
  </div>
</template>

<style lang="scss" scoped>
.input-wrapper {
  font-size: $font-size-default;
  border: 1px solid $color-surface-500;
  border-radius: 8px;
  display: flex;
  max-height: 44px;
  span,
  input {
    font-size: $font-size-default;
    padding: 10px 13px;
  }
  span {
    border-right: 1px solid $color-surface-500;
  }

  input {
    border: none;
    margin: 0;
    border-radius: 8px;
    flex-grow: 1;

    &.full-width {
      width: 100%;
    }
  }
}
</style>
